body{
    margin: 0;
    max-height: 100vh;
}

#links {
    text-align: left;
}

#menuToggleBtn {
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 0;
}

#menu #links a{
    display: block;
    width: 100px;
    background-color: gray;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
    color: black;
    text-decoration: none;
}
#menu #links a:hover {
    background-color: lightgray;
}
#menu {
    vertical-align: top;
    padding: 0;
    text-align: right;
    background-color: rgb(66, 66, 66);
    height: 97.3vh;
    display: table-cell;
}
#content {
    display: table-cell;
    width: 100%;
    /* border: 1px solid red; */
}

.wrapper {
    max-height: 100vh;
    overflow: auto;
    padding-left: 10px;
    /* border: 1px solid green; */
}

form > label {
    width: 150px;
    display: inline-block;
}

input.numberField {
    width: 30px;
}

input.gridInput {
    width: 10px;
}

table {
    border-collapse: collapse;
}
table, td {
    border: 1px solid black;
}
table input[type="text"] {
    border: 0;
}

#gridArea table td {
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
}

table.gameTable td {
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
}