body{
    margin: 0;
}
#menu #menuToggleBtn {
    float: right;
}

#menu #links {
    margin-top: 25px;
}

#menu #links a{
    display: block;
    width: 100px;
    background-color: gray;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    color: black;
    text-decoration: none;
}
#menu #links a:hover {
    background-color: lightgray;
}
#menu {
    background-color: black;
    height: 100vh;
    float: left;
}
section {
    display: inline-block;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: gray;
    padding: 10px;
    height: 100vh;
}